@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap');

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    color: #66bfbf;
    font-size: 5.625rem;
    font-family:'Sacramento', cursive;
    margin: 50px auto 0 auto;
}

h2{
    font-weight: normal;
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h3{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    
}

.bottom-container{

}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px
}

.top-cloud{
    position: absolute;
    right:300px;
    top:50px;
}

.profile{
    border-radius: 50%;
}